footer{
    background-color: $blue;
    overflow-x: hidden;
}
.footer-container{
    min-height: 15vh;
    padding: 5rem 0;
    
    .footer-links{
        a{
            font-size: 1.5rem;
            &:hover{
                color: $green;
            }
        }
    }
    .social-icons{
        a{
            margin-right: 1rem;
            i{
                color: white;
                &:hover{
                    color: $green;
                }
            }
        }
    }
}
.copyright-text{
    p{
        font-size: 15px;
    }
}

@media screen and (max-width: 992px) {
    .copyright-text{
        padding: 2rem 0;
        flex-direction: row;
        align-items: center;
        p{
            order: 1;
        }
        button{
            order: 2;
        }
    }
    
}
@media screen and (max-width: 767px) {
    .copyright-text{
        padding: 2rem 0;
        flex-direction: column;
        align-items: center !important;
        p{
            order: 2;
        }
        button{
            order: 1;
            margin-bottom: 2rem;
        }
    }
    .footer-links{
        text-align: center;
    }
    .footer-logo{
        align-items: center;
        text-align: center;
        .logo{
            margin-bottom: 1rem;
        }
        .social-icons{
            align-items: center;
            justify-content: center;
            margin-bottom: 1rem;
            a{
                margin: 0 1rem;
            }
        }
    }
    
}